
<div class="container text-center">
    <h2>Add Products</h2>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="submit-form">
                <div *ngIf="!submitted">
                  <div class="form-group">
                    <input placeholder="Title" type="text" class="form-control" id="title" required [(ngModel)]="product.title"name="title"/>
                  </div>
              
                  <div class="form-group">
                    <input placeholder="Description"
                      class="form-control"
                      id="description"
                      required
                      [(ngModel)]="product.description"
                      name="description"
                    />
            
                    <form action="" method="post" enctype="multipart/form-data">
                    <input type="file" placeholder="Choose Display Image" class="form-control mt-3" id="image" required [(ngModel)]="product.image" name="image">
                   </form>
                   <input placeholder="quantity" class="form-control mt-4" type="number" id="quantity" name="quantity" [(ngModel)]="product.quantity" required>
                 <input placeholder="Price" class="form-control mt-4" type="number" id="price" name="price" [(ngModel)]="product.price" required>
            
                 <input class="form-control mt-4" placeholder="Date" type="text" name="category" id="category" [(ngModel)]="product.category" required>
                
                </div>
              
                  <button (click)="saveProductl()" class="btn btn-success">Submit</button>
                </div>
              
                <div *ngIf="submitted">
                  <h4>You added a product!</h4>
                  <button class="btn btn-outline-success" (onclick)="newProduct()">Add</button>
                  <a class="btn btn-outline-teal" href="/">Home Page</a>
                </div>
              </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>